#wes {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}
.item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 50px;
}

.quantity {
  display: inline-block;
}

.quantity input {
  width: 40px;
  text-align: center;
}

.price {
  float: right;
}

.total {
  margin-top: 20px;
  font-weight: bold;
}

.like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.liked {
  color: red;
}

.delete-btn {
  background-color: transparent;
  cursor: pointer;
  background-color: white;
  color: red;
  display: inline-block;
}
#text1 {
  color: hotpink;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.delete-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: wheat;
  color: green;
  display: inline-block;
  border-radius: 12px;
  margin-top: 45px;
  height: 24px;
  width: 6rem;
  font-weight: 700;
}
.price {
  font-size: 1.5rem;
  font-weight: 700;
}
.images {
  border-radius: 20px;
}
.like-btn {
  background-color: brown;
  border-radius: 50px;
  margin-bottom: 20px;
}
